%h1 Signing Instructions

-# Using custom tags and CSS to show/hide conditional text
- if @person.marital_status == "I am married."
  :scss
    married { display: inline; }
- else
  :scss
    single { display: inline; }

-# An example of deeper variation



-# An example section from the Trust ###########################

%h2 Documents Requiring a Notary and/or Witnesses
<p><em>REVOCABLE TRUST.</em>  A trust is an agreement between the person making the trust (“trustor”) and the person named to manage the trust’s assets (“trustee”) for the benefit of other people (“beneficiaries”).</p>
<p>     1.   Sign on the designated blank lines on the next-to-last page.</p>
<p>     2.   Sign and notarize on designated blank lines on the last page. (This last page is useful for later authentication of your signature and recor
ding the document but not necessary to establish the validity of the trust.)</p>
<br>
<p><em>CERTIFICATE of TRUST.</em> This is a two-page document that shows your authority to act as trustee on behalf of the trust. You will find this certificate on the last page of your revocable trust. Without this document, you would have to show your trust when transferring an asset into or out of your trust. Most people don’t want their private document made public, so the Oregon legislature authorized this document that sets forth all of the facts that a transfer agent needs to know.</p>
<p>1.	Write in your social security number in section VI.</p>
<p>2.	Sign in front of notary.  Have notary sign, date, and stamp notary seal.  (This document MUST be notarized. The notary will need to see your driver’s license.)</p>
<p>3.	Make three copies of original for future transfers.</p>
<br>
<p><em>DEEDS.</em> Transferring your house and other real property to your trust is the single MOST IMPORTANT thing you can do to avoid probate. Technically, this means that you transfer legal title from yourselves as individuals to yourselves as co-trustees. This transfer while you are alive eliminates the need for a probate judge to transfer legal title to your beneficiaries—and saves your beneficiaries many thousands of dollars and a year and a half of their time.</p>
<p>1.	Sign your name in front of a notary.</p>
<p>2.	Have notary sign, date, and stamp notary seal.  (This document MUST be notarized.)</p>
<p>3.	Take deed to your County Deeds and Records.  (Check the updated filing fee on your County Deeds and Records website.) IMPORTANT NOTE:  The deed MUST be signed, notarized, and recorded to be sure that probate will be avoided.</p>
<br>
<p><em>POUROVER WILL.</em> If you have properly transferred all of your assets to your, you will not need this Will. However, in case you purchase a house or other asset and forget to title it as a trust asset, this Will transfers it (or “pours it over”) into the Trust. Although this Will insures that your wishes are carried out, it doesn’t necessarily avoid probate, so it’s still very important to make sure that your assets are properly transferred to the trust.</p>
<p>1.	Sign Will in front of two witnesses on page 5. (Your signature on your Will MUST be witnessed.  Otherwise your Will is not valid. [This is different from a Trust.]  Choose witnesses who are not related to you.)</p>
<p>2.	Have witnesses sign their name and write their addresses on page 6.</p>
<p>3.	Have witnesses print names and sign affidavit on page 7 in front of notary.</p>
<p>4.	4.	Have notary sign and stamp notary seal.  (Notary will need to see your driver’s license.)</p>
<br>
<p><em>POWER OF ATTORNEY.</em> If you have properly transferred all of your assets to your trust, you will not need this document. However, it will be a very useful document if there is a problem with the re-titling of any asset because it gives your agent the power to act on your behalf.</p>
<p>1.   Sign in front of notary on page 4.</p>
<br>
<p><em>ADVANCE DIRECTIVE</em> This document lets you choose whether or not you want your doctor to use extraordinary methods to keep you alive in serious medical situations. It also lets you appoint someone to make medical decisions for you when you can’t.</p>
<p>1.	Fill out complete form and have two witnesses sign on page 8. (Be sure to   read witness qualifications NOTE in box at the bottom of page 8.)</p>
<p>2.	If you appointed health care representatives, have them sign on page 9.</p>
<br>
<br>
%h2 Documents NOT Requiring a Notary or Witnesses
<p><em>TRANSFER LETTER.</em> You can transfer any financial account with this letter accompanied by your Certificate of Trust.</p>
<p>1.	Make copies of the blank form for future use.</p>
<p>2.	Fill in date, name of institution, account number, and date of trust.</p>
<br>
<p><em>TRUST AMENDMENT FORM.</em> Review your trust once a year or whenever the status of a spouse, beneficiary, trustee, or major asset changes. MOST IMPORTANT: ANY PURCHASES OF REAL PROPERTY MUST BE TITLED IN TRUSTEE’S NAME. (Copy the exact wording from your Certificate of Trust.)</p>
<p>1.	Make copies of the blank form for future us.</p>
<p>2.	Write in any changes as they occur over the years.</p>
<p>3.	Sign and date. (Unlike changes to Wills, changes to Trusts do not require witnesses or a notary. However, if you’re making a major change that you think could result in a challenge to the validity of the amendment, obtain witnesses and a notary.)</p>
<p>4.	Put amendments in your notebook in front of your Trust.</p>
<br>
<p><em>PROPERTY LIST</em></p>
<p>1.	List all of your assets in this form.</p>
<p>2.	Keep updated. Make revisions legible. Date and initial every revision.</p>
 





