%ul.account
  %li 
    .account-head Account No.:
    .account-info 
  %li
    .account-head Type:
    .account-info 
  %li 
    .account-head Financial Institution:
    .account-info
  %li 
    .account-head Value as of ____________ :
    .account-info