%h1 Advance Directive

%p YOU DO NOT HAVE TO FILL OUT AND SIGN THIS FORM

%p PART A: IMPORTANT INFORMATION ABOUT THIS ADVANCE DIRECTIVE

%p This is an important legal document. It can control critical decisions about your health care. Before signing, consider these important facts:</br></br>


%p 1. <u>Facts About Part B (Appointing a Health Care Representative)</u>

%p You have the right to name a person to direct your health care when you cannot do so. This person is called your "health care representative." You can do this by using Part B of this form. Your representative must accept on PART E of this form.

%p You can write in this document any restrictions you want on how your representative will make decisions for you. Your representative must follow your desires as stated in this document or otherwise made known. If your desires are unknown, your representative must try to act in your best interest. Your representative can resign at any time.</br></br>


%p 2. <u>Facts About Part C (Giving Health Care Decisions)</u>

%p You also have the right to give instructions for health care providers to follow if you become unable to direct your care. You can do this by using PART C of this form.</br></br>


%p 3. <u>Facts About Completing This Form</u>

%p This form is valid only if you sign it voluntarily and when you are of sound mind. If you do not want an advance directive, you do not have to sign this form.

%p Unless you have limited the duration of this advance directive, it will not expire. If you have set an expiration date, and you become unable to direct your health care before that date, this advance directive will not expire until you are able to make those decisions again.

%p You may revoke this document at any time. To do so, notify your representative and your health care provider of the revocation.

%p Despite this document, you have the right to decide your own health care as long as you are able to do so.

%p If there is anything in this document that you do not understand, ask a lawyer to explain it to you.

%p You may sign PART B, PART C, or both parts. You may cross out words that don't express your wishes or add words that better express your wishes. Witnesses must sign PART D.</br></br>


%p Print your NAME, BIRTH DATE and ADDRESS here:
	                                                                                                
%ul 
  %li Name		 _______________________________
  %li Birth Date _________________					
  %li Address 	 ___________________________________________________

%p Unless revoked or suspended, this advance directive will continue for:


%p INITIAL ONE:
%p My entire life _________
%p Other period ( _________ years)

%p PART B: APPOINTMENT OF HEALTH CARE REPRESENTATIVE

%p I appoint ______________________________ as my health care representative. My representative's address is ________________________________________ and telephone number is ____________________ .

%p I appoint ______________________________ as my alternate health care representative. My alternate representative's address is ________________________________________ and telephone number is ____________________ .

%p I authorize my representative (or alternate) to direct my health care when can't do so.

.note
  NOTE: You may not appoint your doctor, an employee of your doctor, or an owner, operator or employee of your health care facility, unless that person is related to you by blood, marriage or adoption or that person was appointed before your admission into the health care facility.
-# An example section from the Advance Directive ###########################

%ol
  %li
    %strong Limits
    
    %ul
      %li
        Special conditions or instructions:
        %hr
        %hr
        %hr
      %li <strong>Initial if this applies</strong>: ____ I have executed a Health Care Instruction or Directive to Physicians, which is attached to this document as Part C. My representative is to honor it.
  %li	  
    %strong Life Support
    %ul
	  %li
	    "Life support" refers
  %li
    %strong Tube feeding    	



%p <strong><em>Close to Death</em></strong>. If I am close to death and life support would only postpone the moment of my death:
    
%ol.alpha
  %li
    <strong>Initial One</strong>:
    
    %ul
      %li _______ I want to receive tube feeding.
      %li _______ I want tube feeding only as my physician recommends. 
      %li _______ I DO <em>NOT</em> WANT tube feeding.
  %li
    <strong>Initial One</strong>:
    
    %ul
      %li _______ I want any other life support that may apply.
      %li _______ I want life support only as my physician recommends. 
      %li _______ I want <em>NO</em> life support.</br></br></br>

.note
  NOTE: <strong>One</strong> witness must not be a relative (by blood, marriage or adoption) of the person signing this advance directive. That witness must also not be entitled to any portion of the person's estate upon death. That witness must also not own, operate or be employed at a health care facility where the person is a patient or resident.
