%h1 Congratulations!

-# Using custom tags and CSS to show/hide conditional text
- if @person.marital_status == "I am married."
  :scss
    married { display: inline; }
- else
  :scss
    single { display: inline; }

-# An example of deeper variation



-# An example section from the Trust ###########################

You have just taken the most important step to protect your family with these three crucial documents. There just a few more things to do to complete the process.<br><br><em>You'll need to sign all of the documents with two witnesses and a notary present.</em> These signing instructions will walk you through the few more steps you still need to take.

<p><em>WILL with a Testamentary Trust.</em> This document names who will receive your assets and who will take care of your children or grandchildren and manage their assets if they are too young to manage for themselves.</p>
<p>1.	Sign Will in front of two witnesses on page 5. (Your signature on your Will MUST be witnessed.  Otherwise your Will is not valid. As long as they are not mentioned in your Will, your witnesses can be friends, acquaintances, or even bank employees; just be sure they are at least 18 years old.)</p>
<p>2.	Have witnesses sign their names and write their addresses on the next page entitled "Statement of Witnesses".</p>
<p>3.	Have witnesses print names and sign affidavit on the next page entitled "Affidavit of Attesting Witnesses" in front of a notary.</p>
<p>4.	Have notary sign and stamp notary seal.  (Notary will need to see your driver’s license.)</p>
Note on notaries: Your bank or credit union will probably provide you with a notary, but call first to double-check. Some banks and credit unions allow their employees to be witnesses; others don't. So check first because you may need to bring your own witnesses. Also, some banks don't allow their notaries to notarize Wills. So ask specifically if the notary is authorized to notarize Wills.

<p><em>POWER OF ATTORNEY.</em> This is a very useful document because it allows a trusted family member or friend to perform many legal and financial acts if you become incapacitated or are otherwise unable to act.</p>
<p>1.   Sign in front of notary on page 5.</p>

<p><em>ADVANCE HEALTH CARE DIRECTIVE</em> This document lets you choose whether or not you want your doctor to use extraordinary methods to keep you alive in serious medical situations. It also lets you appoint someone to make medical decisions for you when you can’t.</p>
   
<p>1.	Fill out complete form and sign on pages 4 and 9.</p>
<p>2.   Have two witnesses sign on page 10. (Be sure to read witness qualifications NOTE in box at the bottom of page 10.)</p>
<p>2.	If you appointed health care representatives, have them sign on page 11.</p>

<p>Make sure you understand these instructions before you have the witnesses and notary watch you sign. Our outstanding support staff is here to make sure that everything goes smoothly for you.</p>

IF THERE IS ANYTHING YOU DON'T UNDERSTAND, PLEASE CALL 541-221-5395 or EMAIL us: thegiftofplanning@gmail.com. 









