%h1 Statement of Witnesses

%p This Will was on the above date signed by him who declared this to be his Will; and we, at his request and in his presence and in the presence of each other, have signed our names as attesting witnesses. At the time this Will was signed, we believed the testator was of sound mind and memory and was acting voluntarily.



%span ___________________________________ <br>
Signature of Witness #1<br>
<br>

%span ___________________________________ <br>
Street Address of Witness #1<br>
<br>

%span ___________________________________ <br>
City, State, and Zip Code of Witness #1<br>
<br>
<br>


%span ___________________________________ <br>
Signature of Witness #2<br>
<br>

%span ___________________________________ <br>
Street Address of Witness #2<br>
<br>

%span ___________________________________ <br>
City, State, and Zip Code of Witness #2<br>
<br>


%h1 Affidavit of Attesting Witnesses to Will

STATE OF OREGON <br>
County of Lane

%p We, ___________________________________________ and ___________________________________________ , being sworn, each say:
%p We are the attesting witnesses to the Will executed by #{@person.name}, dated #{@person.created_at.strftime("%B %e, %Y")}. The Will was executed in our presence and in the presence of the testator, who declared the instrument to be his Will and requested us to sign our names as witnesses, which we did. To the best of our knowledge and belief, the testator was of legal age, of sound mind, and not acting under any restrain, undue influence, duress, or fraudulent misrepresentation.


%span ___________________________________ 
Signature of Witness #1

%span ___________________________________ 
Signature of Witness #2


%p SUBSCRIBED AND SWORN TO by each of the above named affiants on #{@person.created_at.strftime("%B %e, %Y")}.



%span ___________________________________ <br>
Notary Public for Oregon<br>
My commission expires: __________________ <br>

